
.delAdsBtn{
    height: fit-content;
    width: 30rem;
    /* margin: auto; */
    align-content: center;
    margin-left: 18px;
}
.card{
    margin: 6px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
}
.heading{
    padding: 1.5rem;
    text-align: center;
    font-size: 2.3rem;
}